@use "../abstract" as a;
.user-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    background-color: a.$off-black;
    padding: .2rem 1rem;

    &__container {
        display: flex;
        justify-content: flex-start;
        
        
    }
    &__brand {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;
        color: a.$red;
        margin: auto 2rem;
    }
    &__list {
        display: flex;
        justify-content: space-evenly;
        gap: 1.5rem;
        list-style-type: none;
        margin: 0;
        align-items: center;
    }
    &__link {
        text-decoration: none;
        color: a.$off-white;
        font-size: .9rem;
    }
    &__link:hover {
        color: a.$dark-white;
    }
    &__tools-container {
        margin: auto 2rem;
        display: flex;
        justify-content: space-evenly;
        gap: 1.5rem;
        align-items: center;
    }
    &__tool-link {
        text-decoration: none;
        color: a.$off-white;
    }
    &__icon {
        color: a.$off-white;
        font-size: 1.4rem;
    }
    &__profile-container {
        display: flex;
        justify-content: space-evenly;
        gap: .5rem;
        align-items: center;
    }
    &__pic {
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
        margin: auto;
        color:  a.$off-white;
        text-align: center;
        border-radius: 2px;
        align-content: center;
    }
}