$black: hsl(0, 0%, 0%);
$off-black: hsl(0, 0%, 10%);
$mid-black: hsl(0, 0%, 15%);
$light-black: hsl(0, 0%, 20%);

$offblack-hsla:hsla(0, 0%, 10%, 0);

$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 90%);
$mid-white: hsl(0, 0%, 80%);
$dark-white:hsl(0, 0%, 60%);

$red: hsl(0, 85%, 45%);
$teal: rgb(93, 161, 209);
$orange: orange;
$blue: hsl(240, 64%, 48%);